In [12]:
import pandas as pd
import numpy as np
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
from sklearn import datasets

In [2]:
data=pd.read_csv(r"C:\Users\asus\Downloads\Python Notes\Library data\diabetes.csv")
data.sample(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
175,8,179,72,42,130,32.7,0.719,36,1
230,4,142,86,0,0,44.0,0.645,22,1
676,9,156,86,0,0,24.8,0.230,53,1
544,1,88,78,29,76,32.0,0.365,29,0
520,2,68,70,32,66,25.0,0.187,25,0

In [3]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
x=data[['Glucose','BloodPressure','Insulin','BMI','Age']]
y=data[['Outcome']]

In [5]:
x.sample()

   Glucose  BloodPressure  Insulin   BMI  Age
0      148             72        0  33.6   50

In [6]:
y.sample()

     Outcome
180        0

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2,test_size=0.25)

model=LogisticRegression()

# for pickel file we always take trained model
# so we store our model in variable
model=model.fit(x_train,y_train)


y_predict=model.predict(x_test)
accuracy_score(y_test,y_predict)*100

C:\Users\asus\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

77.08333333333334

In [22]:
model.predict([[148,72,0,33.6,36]])

C:\Users\asus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [23]:
model.predict([[85,66,0,26.6,31]])

C:\Users\asus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [21]:
x.sample()

     Glucose  BloodPressure  Insulin   BMI  Age
604      183              0        0  28.4   36

In [20]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [24]:
import pickle
pickle.dump(model,open('model.pkl','wb'))